<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 共通 meta -->
    <div th:replace="~{fragment :: meta}"></div>

    <!-- 共通 CSS -->
    <div th:replace="~{fragment :: styles}"></div>

    <title>moat Travel</title>
</head>

<body>
    <div class="moattravel-wrapper">

        <!-- ヘッダー -->
        <div th:replace="~{fragment :: header}"></div>

        <main>
            <div class="container pt-4 pb-5 moattravel-container">

                <!-- ログアウト通知 -->
                <div th:if="${param.loggedOut}" class="alert alert-info">
                    ログアウトしました。
                </div>

                <!-- 会員登録完了通知 -->
                <div th:if="${successMessage}" class="alert alert-info">
                    <span th:text="${successMessage}"></span>
                </div>

                <!-- ログイン通知 -->
                <div th:if="${param.loggedIn}" class="alert alert-info">
                    ログインしました。
                </div>

            </div>
        </main>

        <!-- フッター -->
        <div th:replace="~{fragment :: footer}"></div>

    </div>

    <!-- 共通 JS -->
    <div th:replace="~{fragment :: scripts}"></div>

</body>

</html>
